*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    border-bottom: 1px solid black;
    height: 5rem;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
body{
    font-family: "Lora", serif;
}
#logo, h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", serif;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
#logo {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}
nav a{
    text-decoration: none;
    color: grey;
}
.iconlinks {
    display: flex;
    flex-direction: row;
    align-items: none;
    gap: 0.5rem;
}
.iconlinks a{
    color: black;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 50%;
    gap: 0.5rem;
    
}
.productdetails{
    width: 50%;
       
}
p{
    margin-top: 2rem;
}
.buttons{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
#primarybutton{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 15px;
    padding: 10px 32px;
   text-align: center;
    
    
}
#secondarybutton{
    text-decoration: none;
    color: black;
    margin-left: 5px;
    border: 1px solid   black;
    padding: 10px 32px;
    font-size: 15px;
    border-radius: 3px;
}

.images img{
    width: 100%;
    height: 100%;
    }

#image1 {
    grid-row: 1;
    grid-column: 1;
}
#image2 {
    grid-row: 2;
    grid-column: 1;
}
#image3 {
    grid-row: 3;
    grid-column: 1;
}
#image4 {
    grid-row: 4;
    grid-column: 1;
}
#selectedimage{
    grid-column: 2 / span 3;
    grid-row: 1 / span 4;    
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;

}
#section1 .container{
    display: flex;
    gap: 3rem;
}